#page-reset{
    height: 100vh;
    background: #FFFFFF;
    position: relative;
    display: flex;    


}

#page-reset aside{
    width:70vw;
    padding: 80px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}

#page-reset aside h2{
    margin-top: 100px;
}

#page-reset .icon-back{
    position: absolute;
    top: 0;
    right:0;
    width:48px;
    height: 48px;

    margin:40px 43px;
    background:#EBF2F5;
    border-radius: 20px;
    box-shadow: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

 .reset-form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 0 80px;
     margin-bottom:3%;
    
}

input{
    height: 64px;
    padding: 0 16px;
    color: #5C8599;
}


.reset-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.reset-info #icon-checkbox{
    position:absolute;
    width:24px;
    height: 24px;
    opacity:0;
}

.reset-form .eye{
    position: absolute;
    margin-left: 21%;
}

.reset-form .eye-repeat{
    position: absolute;
    margin-top:14%;
    margin-left: 21%;
}

label{
    display: flex;
}

#icon-checkbox[type="checkbox"] +label::before{
    content: "";
    display:inline-block;
    width:24px;
    height:24px;
    margin-right: 16px;
    background: #F5F8FA;

    /* Back / Lines in white */
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 8px;
}

#icon-checkbox[type="checkbox"]:checked +label::before{
    content: "✓";
    display:flex;
    align-items: center;
    justify-content: center;
    width:24px;
    height:24px;
    color: #fff;
    margin-right: 16px;
   
    
    /* Back / Lines in white */
    background: #37C77F;

    /* Color / Green */
    border: 2px solid #37C77F;
    box-sizing: border-box;
    border-radius: 8px;


    
}



.reset-form h2{
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    color: #5C8599;
}

.reset-form label{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;

/* identical to box height */

/* Texts / Complementos */
color: #8FA7B3;
}

.reset-form .send-button{
    width: 360px;
    height: 64px;
    border-radius: 20px;
    background: #37C77F;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    border: 0;
    color: #FFFFFF;
    margin-top: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;


/* identical to box height */
text-align: center;
}

.reset-form button:hover{
    background: #36CF82;
}

.reset-form p{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 42px;

/* identical to box height */

/* Texts / Complementos */
color: #8FA7B3;
}


.reset-form input{
    background: #F5F8FA;
    width: 360px;
    height: 64px;

    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 12px;


}


